:root {
  --ghost-white: #f8f9fd;
  --fire-bush: #e99c2f;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-weight: 400;
}

button {
  cursor: pointer;
  outline: 0;
  padding: 0.5rem 1.5rem;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  justify-self: flex-end;
  padding-right: 8px;
}

#cart-btn {
  margin: 2rem;
  background: none;
  border-radius: 10px 10px 10px 10px;
}

.cart-container {
  position: absolute;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: #fff;
  height: 420px;
  width: 450px;
  top: 100%;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.3);
  display: none;
  left: auto;
  right: 3rem;
  -webkit-animation: cart-rolls 1s ease-in-out;
  animation: cart-rolls 1s ease-in-out;
}

.show-cart-container {
  display: block;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 1.2rem 0.6rem;
  height: 140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.cart-item img {
  width: 80px;
}

.cart-item-info {
  text-align: center;
}

.cart-item-info span {
  display: block;
}

.empty-buttons {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: var(--fire-bush);
  height: 140px;
}

.arrow-up {
  position: static;
  position: absolute;
  top: 150px;
  right: 70px;
  z-index: 1;
  cursor: pointer;
  -webkit-animation: opaque 1s, cart-rolls 2s ease-in 1s;
  animation: opaque 1s, cart-rolls 2s ease-in 1s;
}

.arrow-down {
  position: -webkit-sticky;
  position: sticky;
  position: absolute;
  top: 500px;
  right: 70px;
  z-index: 1;
  cursor: pointer;
  -webkit-animation: opaque 1s, cart-rolls 2s ease-in 1s;
  animation: opaque 1s, cart-rolls 2s ease-in 1s;
}

.none {
  display: none;
}

@-webkit-keyframes cart-rolls {
  from {
    -webkit-transform: translateY(-50%) rotateZ(-10deg) rotateX(-90deg);
    transform: translateY(-50%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes cart-rolls {
  from {
    -webkit-transform: translateY(-50%) rotateZ(-10deg) rotateX(-90deg);
    transform: translateY(-50%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@-webkit-keyframes opaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes opaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 62.5%;
  }

  .cart-img {
    height: 40px;
  }

  .cart-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 0.5rem;
    column-gap: 0.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  }
  .cart-container {
    width: 320px;
    height: 320px;
  }
  .cart-item img {
    width: 50px;
    height: 50px;
  }
  .arrow-up {
    top: 105px;
    right: 55px;
    width: 30px;
  }

  .arrow-down {
    top: 375px;
    right: 55px;
    width: 30px;
  }
}
/*# sourceMappingURL=style.css.map */
